<!DOCTYPE html>
<html lang="en">

<head>
    <title>Freshr Create Post</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted"><a href="/">Freshr</a></h3>
        </div>

        <form>
            <h1>Freshr</h1>
            <p class="lead"></p>
            <label for="inputName" class="sr-only">Name</label>
            <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
            <label for="inputPhone" class="sr-only">Phone Number</label>
            <input type="number" name="inputPhone" id="inputPhone" class="form-control" placeholder="Phone Number" required>
            <label for="inputDetails" class="sr-only">Catch Details</label>
            <textarea type="text" name="details" id="inputDetails" class="form-control" placeholder="Type, Qauntity, Price" required></textarea>
        </form>
        <footer class="footer">
            <p>&copy; Freshr 2015</p>
        </footer>

    </div>
</body>

</html>