<!DOCTYPE html>
<html lang="en">

<head>
    <title>Freshr HomePage</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/login">Sign In</a></li>
                </ul>
            </nav>
            <h3 class="text-muted"><a href="/">Freshr</a></h3>
        </div>

        <form class="jumbotron">
            <h1>Freshr</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="/create" role="button">Sell Fish</a></p>
            <p><a class="btn btn-lg btn-success" href="/newsFeed" role="button">Buy Fish</a></p>
        </form>
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>

    </div>
</body>

</html>